<p>Cadastro de Usuário</p>

<form class="example-form">    
  
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Código</mat-label>
      <input matInput placeholder="Digite o código"/>
    </mat-form-field>

    <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Nome</mat-label>
        <input matInput placeholder="Digite o nome"/>
      </mat-form-field>


      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>dataNascimento</mat-label>
        <input matInput placeholder="Digite a data de nascimento"/>
      </mat-form-field>

      <button (click)="salvar()">Salvar</button>
</form>




