<mat-toolbar>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    <span>&nbsp; Minha Aplicação</span>
    &nbsp; 
    <button mat-button [matMenuTriggerFor]="menu">Cadastros</button>
<mat-menu #menu="matMenu">
  <a href="/api/usuario" mat-menu-item>Usuário</a>
  <a href="/api/cliente" mat-menu-item>Cliente</a>
</mat-menu>
    <span class="example-spacer"></span>
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      <mat-icon>favorite</mat-icon>
    </button>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
      <mat-icon>share</mat-icon>
    </button>
  </mat-toolbar>

  <router-outlet></router-outlet>